---
search:
  button: small
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/assets/uswds/js/uswds-init.min.js" async></script>
  <script src="/assets/js/prism.js" async></script>
  <link rel="stylesheet" type ="text/css" href="/assets/css/styles.css"></link>
  <link rel="stylesheet" href="https://kit.fontawesome.com/71dbd15dc2.css" crossorigin="anonymous">
  <link rel="stylesheet" type ="text/css" href="/assets/css/prism.css" data-noprefix></link>
  <link rel="stylesheet" type ="text/css" href="/assets/css/next.css" data-noprefix></link>
  <title>{{ title }} - {{ settings.sitename }}</title>
</head>
<body>
  {% if prototype %}{% include 'patterns/banner.md' %}{% endif %}
  {% include 'patterns/header.md' %}
  {{ content }}
  {% include 'patterns/footer.md' %}
  {% if prototype %}{% include 'patterns/identifier.md' %}{% endif %}

  <script src="{{site.baseurl}}/assets/uswds/js/uswds.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/copy_to_clipboard.js"></script>
  <script src="{{site.baseurl}}/assets/js/nav_mobile.js"></script>
  <script src="{{site.baseurl}}/assets/js/template_img.js"></script>
  <script src="{{site.baseurl}}/assets/js/theme_mode.js"></script>
  <script src="{{site.baseurl}}/assets/js/cms.js"></script>
</body>
</html>