---
search:
  button: small
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/assets/js/uswds-init.min.js" async></script>
  <script src="/assets/js/prism.js" async></script>
  <link rel="stylesheet" type ="text/css" href="/assets/css/styles.css"></link>
  <link rel="stylesheet" href="https://kit.fontawesome.com/71dbd15dc2.css" crossorigin="anonymous">
  <link rel="stylesheet" type ="text/css" href="/assets/css/prism.css" data-noprefix></link>
  <link rel="stylesheet" type ="text/css" href="/assets/css/next.css" data-noprefix></link>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <title>{{ title }} - {{ settings.sitename }}</title>
</head>
<body>
  {% if prototype %}{% include 'patterns/banner.md' %}{% endif %}
  {% include 'patterns/header.md' %}
  {{ content }}
  {% include 'patterns/footer.md' %}
  {% if prototype %}{% include 'patterns/identifier.md' %}{% endif %}

  <script src="{{site.baseurl}}/assets/js/uswds.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/copy_to_clipboard.js"></script>
  <script src="{{site.baseurl}}/assets/js/nav_mobile.js"></script>
  <script src="{{site.baseurl}}/assets/js/template_img.js"></script>
  <script src="{{site.baseurl}}/assets/js/theme_mode.js"></script>
  <script src="{{site.baseurl}}/assets/js/cms.js"></script>
</body>
</html>