@use "uswds-core" as *;

.usa-card {
  .usa-card__heading {
    @include u-font('serif', 'lg');
    @include u-text('semibold');
  }
  .usa-button {
    @include u-font('serif', 'xs');
    @include u-text('semibold', 'no-underline');
    width: 100%;
    &:hover {
      @include u-bg('primary-vivid');
      transform: background-color .05s;
    }
  }
  .usa-button--outline {
    @include u-shadow('none');
    @include u-radius('sm');
    @include u-border(1px, 'primary');
    width: 45%;
    &:hover {
      @include u-text('white');
      @include u-bg('primary-vivid');
      transition: .05s;
    }
  }
  .usa-card_line {
    @include u-padding(1);
    @include u-border-bottom(2px, 'primary-light');
    width: 30%;
  }
  &:hover {
    .usa-card_line {
      width: 80%;
      transition: width 0.5s;
    }
  }
}

.card-default {
  .usa-card__img {
    max-height: 145px;
  }
  h3, p {
    @include u-text('primary');
  }
  .usa-card__container {
    position: relative;
    cursor: pointer;
  }
  .usa-card__container:hover {
    @include u-bg('primary-vivid');
    transition: background-color 0.5s;
    h3, p {
      @include u-text('white');
    }
  }
  .usa-card__footer a, .usa-card__footer a:hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    
    z-index: 1; /* Ensures it's clickable above other content */
    text-indent: -9999px; /* Hides the text visually for accessibility */
    background: transparent; /* Prevents any visual effects */
  }
}

.usa-button-half {
  max-width: 45%;
}

.usa-card--header-first {
  .usa-card__container {
    @include u-bg('base-light');
  }
  .usa-card__header {
    @include u-text('uppercase');
    line-height: 1.42857;
    letter-spacing: 5.6px;
    @include u-text('white');
    @include u-bg('accent-warm-darker');    
    text-align: center;
    height: 40px;
    @include u-padding(1);
  }
  .usa-card__img {
    max-height: 145px;
  }
}

.quicknote {
  @include u-bg('base-light');
  padding: 20px 20px 0 20px;
  .usa-card__container {
    border: 0;
  }
  .quicknote-title {
    @include u-text('white');
    @include u-bg('accent-warm-darker');
    @include u-font('serif', 'lg');
    @include u-text('semibold');
    text-align: center;
    text-size-adjust: 100%;
    @include u-padding(1);
    @include u-margin-bottom('205');
  }
}