@use "uswds-core" as *;

.usa-footer{
  .footer-tagline{
    text-align: center;
    background-color: #383838;
    @include u-text('base-light');
    @include u-padding(1);
    @include u-font('serif', 'md')
  }
  .usa-footer__primary-section, .usa-footer__secondary-section  {
    background-color: #333;
    a {
      @include u-text('base-light');
      &:hover{
        color: #087599;
        text-decoration: underline;
      }
    }
  }
  .usa-footer__primary-section{
    @include u-font('sans', 'md');
  }
}