@use "uswds-core" as *;

.header-sf{
    .usa-nav{
        background-color: #2a2a2a;
    }
    span, a{
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
    }
    .usa-nav__primary-item .usa-accordion__button span{
        color: white;
    }
    .usa-nav__primary .usa-nav__primary-item a{
        color: white;
    }
    .usa-nav__primary .usa-nav__primary-item a:hover{
        text-decoration: underline;
        background-color: #064d80;
    }
    .usa-nav__submenu .usa-nav__submenu-item{
        background-color: #087599;
    }
    .usa-nav__submenu{
        background-color: #087599;
    }
    .usa-nav__primary button[aria-expanded=true]{
        background-color: #087599;
    }
}
.header-sf{
    .usa-nav{
        padding: 0 0 0 .5rem;
    }
    .usa-nav__primary-item .usa-accordion__button:hover{
        background-color: #064d80;
    }
    .usa-nav__link:hover::after, .usa-nav__primary-item>.usa-current::after{
        background-color: transparent;
    }
    .usa-nav__link:hover span{
        text-decoration: underline;
    }
    .usa-search__input, [type=search]{
        background-color: transparent;
        border: none;
    }
    .usa-button{
        background-color: transparent;
    }
}
@media (min-width: 64em) {
    .header-sf .usa-navbar {
        width: unset;
    }

}