.sf-homepage-4boxes {
    height: 180px;
    margin-bottom: 80px;
    display: block;
    position: relative;
    margin-top: 20px;
}
.waypoint {
    width: 24%;
    display: inline-block;
    margin-right: 0.5%;
}
.sf_homepage_4boxes__wrapper {
    display: block;
    position: relative;
}
.sf_homepage_4boxes__wrapper #btn__I-Want-to-Quit, .sf_homepage_4boxes__wrapper #btn__My-Quit-Day, .sf_homepage_4boxes__wrapper #btn__Newly-Quit, .sf_homepage_4boxes__wrapper #btn__Staying-Quit {
    width: 100%;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 40px 15px 15px;
    border: 0;
    color: white;
    border-radius: 0px;
    transition: all 0.3s;
}
.sf_homepage_4boxes__wrapper #btn__I-Want-to-Quit {
    background-image: url(/themes/custom/smokefree_gov/images/lightbulb.png);
    background-color: #1f7a21 !important;
    background-size: 219px 218px;
    background-repeat: no-repeat;
    background-position: 100px 15px;
}
.sf_homepage_4boxes__wrapper #btn__I-Want-to-Quit .text-wrapper, .sf_homepage_4boxes__wrapper #btn__My-Quit-Day .text-wrapper, .sf_homepage_4boxes__wrapper #btn__Newly-Quit .text-wrapper, .sf_homepage_4boxes__wrapper #btn__Staying-Quit .text-wrapper {
    width: 100%;
    height: 100%;
    text-align: left;
}
.sf_homepage_4boxes__wrapper #btn__I-Want-to-Quit .expand-box, .sf_homepage_4boxes__wrapper #btn__My-Quit-Day .expand-box, .sf_homepage_4boxes__wrapper #btn__Newly-Quit .expand-box, .sf_homepage_4boxes__wrapper #btn__Staying-Quit .expand-box {
    transition: all 0.3s;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-image: url(/themes/custom/smokefree_gov/images/arrow-down-2x.png);
    background-color: rgba(0, 0, 0, 0.15);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0px 0px;
}
.sf_homepage_4boxes__wrapper #btn__I-Want-to-Quit .expand-box, .sf_homepage_4boxes__wrapper #btn__My-Quit-Day .expand-box, .sf_homepage_4boxes__wrapper #btn__Newly-Quit .expand-box, .sf_homepage_4boxes__wrapper #btn__Staying-Quit .expand-box {
    transition: all 0.3s;
    // height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-image: url(/themes/custom/smokefree_gov/images/arrow-down-2x.png);
    background-color: rgba(0, 0, 0, 0.15);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0px 0px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sf_homepage_4boxes__wrapper #expanded_btn__I-Want-to-Quit, .sf_homepage_4boxes__wrapper #expanded_btn__My-Quit-Day, .sf_homepage_4boxes__wrapper #expanded_btn__Newly-Quit, .sf_homepage_4boxes__wrapper #expanded_btn__Staying-Quit {
    top: 115px;
}
.sf_homepage_4boxes__wrapper #expanded_btn__I-Want-to-Quit, .sf_homepage_4boxes__wrapper #expanded_btn__My-Quit-Day, .sf_homepage_4boxes__wrapper #expanded_btn__Newly-Quit, .sf_homepage_4boxes__wrapper #expanded_btn__Staying-Quit {
    transition: all 0.3s;
    position: absolute;
    top: 165px;
    z-index: 99;
    width: 100%;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
}
.sf_homepage_4boxes__wrapper #expanded_btn__I-Want-to-Quit {
    background-image: url(/themes/custom/smokefree_gov/images/lightbulb.png);
    background-size: 219px 218px;
    background-position: 100px -165px;
    background-repeat: no-repeat;
    background-color: white;
}
.sf_homepage_4boxes__wrapper #expanded_btn__I-Want-to-Quit .content-wrapper, .sf_homepage_4boxes__wrapper #expanded_btn__My-Quit-Day .content-wrapper, .sf_homepage_4boxes__wrapper #expanded_btn__Newly-Quit .content-wrapper, .sf_homepage_4boxes__wrapper #expanded_btn__Staying-Quit .content-wrapper {
    padding: 15px 15px 0px 15px;
    height: 215px;
}
.sf_homepage_4boxes__wrapper #expanded_btn__I-Want-to-Quit .text-wrapper, .sf_homepage_4boxes__wrapper #expanded_btn__My-Quit-Day .text-wrapper, .sf_homepage_4boxes__wrapper #expanded_btn__Newly-Quit .text-wrapper, .sf_homepage_4boxes__wrapper #expanded_btn__Staying-Quit .text-wrapper {
    height: 110px;
}
.sf_homepage_4boxes__wrapper #expanded_btn__I-Want-to-Quit .text-wrapper .description, .sf_homepage_4boxes__wrapper #expanded_btn__My-Quit-Day .text-wrapper .description, .sf_homepage_4boxes__wrapper #expanded_btn__Newly-Quit .text-wrapper .description, .sf_homepage_4boxes__wrapper #expanded_btn__Staying-Quit .text-wrapper .description {
    text-align: left;
}
.sf_homepage_4boxes__wrapper #expanded_btn__I-Want-to-Quit .buttons, .sf_homepage_4boxes__wrapper #expanded_btn__My-Quit-Day .buttons, .sf_homepage_4boxes__wrapper #expanded_btn__Newly-Quit .buttons, .sf_homepage_4boxes__wrapper #expanded_btn__Staying-Quit .buttons {
    margin-top: 10px;
    text-align: center;
}
.sf_homepage_4boxes__wrapper .btn-new {
    transition: all .3s;
}
.sf_homepage_4boxes__wrapper .btn-default-new {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .02em;
    padding: 6px 16px;
    border: 1px solid #087599;
    border-radius: 0;
    color: #FFF;
    text-decoration: none;
    background-color: #087599;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
.sf_homepage_4boxes__wrapper #expanded_btn__I-Want-to-Quit .collapse-box, .sf_homepage_4boxes__wrapper #expanded_btn__My-Quit-Day .collapse-box, .sf_homepage_4boxes__wrapper #expanded_btn__Newly-Quit .collapse-box, .sf_homepage_4boxes__wrapper #expanded_btn__Staying-Quit .collapse-box {
    transition: all 0.3s;
    width: 100%;
    height: 45px;
    margin-top: 15px;
    border: 0;
    display: block;
    background-image: url(/themes/custom/smokefree_gov/images/arrow-up-2x.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 25px;
}
.sf_homepage_4boxes__wrapper #expanded_btn__I-Want-to-Quit .collapse-box {
    background-color: #175b19;
}
.sf_homepage_4boxes__wrapper #btn__My-Quit-Day {
    background: url(/themes/custom/smokefree_gov/images/bullseye.png);
    background-color: #53336f !important;
    background-size: 219px 205px;
    background-repeat: no-repeat;
    background-position: 90px 20px;
}
.sf_homepage_4boxes__wrapper #btn__Newly-Quit {
    background-image: url(/themes/custom/smokefree_gov/images/hourglass.png);
    background-color: #b65e00 !important;
    background-size: 148px 257px;
    background-repeat: no-repeat;
    background-position: 150px 48px;
}
.sf_homepage_4boxes__wrapper #btn__Staying-Quit {
    background-image: url(/themes/custom/smokefree_gov/images/chart.png);
    background-color: #931f45 !important;
    background-size: 205px 206px;
    background-repeat: no-repeat;
    background-position: 90px 40px;
}