@use "uswds-core" with (
  $theme-show-compile-warnings: false,
  $theme-show-notifications: false,
  // $theme-font-type-sans: "public-sans",
  // $theme-body-background-color: "ink",
  $theme-banner-max-width: "widescreen",
  $theme-header-max-width: "widescreen",
  $theme-footer-max-width: "widescreen",
  $theme-identifier-max-width: "widescreen",
  $theme-grid-container-max-width: "widescreen",
  $theme-card-flag-min-width: card,
  $theme-utility-breakpoints: (
              'card': false,   // 160px
              'card-lg': false,   // 240px
              'mobile': false,   // 320px
              'mobile-lg': true,    // 480px
              'tablet': true,    // 640px
              'tablet-lg': true,   // 880px
              'desktop': false,    // 1024px
              'desktop-lg': true,   // 1200px
              'widescreen': true,   // 1400px
  ),
);